@use "../core/colors.scss" as *;
@use "../core/functions.scss" as *;

html.navbar-active {
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: rem(40) 25px 0;
  max-width: 1200px;
  margin: auto;

  @media screen and (min-width: 768px) {
    padding-top: rem(65);
  }

  &__logo {
    z-index: 10;
    height: 27px;

    @media screen and (min-width: 768px) {
      height: 35px;
    }
  }

  &__navigation {
    padding: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    background: $Black;
    height: 100vh;
    width: 100vw;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 9;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    &.active {
      opacity: 1;
      visibility: visible;
    }

    @media screen and (min-width: 768px) {
      position: static;
      opacity: 1;
      visibility: visible;
      height: unset;
      width: unset;
      background: transparent;
      flex-direction: row;
      padding: 0;
    }

    a {
      font-size: rem(29);
      text-decoration: none;
      text-transform: uppercase;
      color: $White;
      font-family: "Josefin Sans", sans-serif;
      position: relative;

      &:after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background: white;
        content: "";
        transform: scaleX(0);
        transition: 0.3s ease transform;
      }

      &:hover:after {
        transform: scaleX(1);
      }

      @media screen and (min-width: 768px) {
        font-size: rem(17);
        text-transform: capitalize;
        font-family: "Alata", sans-serif;
      }
    }

    a + a {
      margin-top: rem(28);

      @media screen and (min-width: 768px) {
        margin-top: 0;
        margin-left: rem(33);
      }
    }
  }

  &__toggle-menu {
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;

    @media screen and (min-width: 768px) {
      display: none;
    }

    span {
      width: 24px;
      height: 3px;
      background: $White;
      display: block;
      transition: 0.3s ease all;
    }

    span + span {
      margin-top: rem(5);
    }

    &.active span {
      &:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
}
